/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29/06/2022, 16:48:24
    Author     : User
*/

body, html {
    background-color: #F2FFE1;
    text-align: -webkit-center;
}

.header {
    text-align: left;
    padding: 20px;
    position: relative;
}

.botoes {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: center;
}

.botao {
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.8s;
}

.botao-acessar {
    margin: 10px 0;
    background: linear-gradient(45deg, #FF5778, #FFC976);
}

.botao-acessar:hover {
    background: #FF5778;
    cursor: pointer;
    color: white;
}

.botao-criar {
    background: linear-gradient(45deg, #737DFE, #FFCAC9);
}

.botao-criar:hover {
    background: #737DFE;
    cursor: pointer;
    color: white;
}

.conteudo {
    width: 95%;
    height: max-content;
    margin: 50px;
    background-color: #353535;
    border-radius: 20px; 
    padding: 0;
    border: 2px solid black;
}

.titulo {
    font-size: 22px;
    font-weight: bold;
    color: #AC92EC;
}

.endereco {
    font-size: 12px;
    color: gray;
}

.informacao {
    text-align: left;
    background-color: #C8EAD1;
    padding: 20px;
}

.footer {
    height: 70px;
    position: relative;
}

.titulo {
    position: relative;
    padding-top: 20px
}

.endereco-footer {
    display: inline-grid;
    position: absolute;
    top: 10px;
    right: 20px;
}

.imagem {
    position: absolute;
    //height: 100vh;
    width: 100vw;
    background-image: url(./imagens/img-4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: bisque;
}

img {
    border-radius: 10px;
    border: 1px solid black;
    width: 120px;
    height: 180px;
    margin-left: 70px;
}

.container-modal {
    width: 800px;
    max-width: 800px !important;
}